<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
  <div>
  <%= link_to  "MEMBERS ONLY", posts_path %>
  </div>

  <ul>
  <li>
  <%=  link_to  "Register", new_user_path%>
  </li>
  <li>
        <% if logged_in? %>
          <%= link_to "logout", logout_path %>
        <% else %>
          <%= link_to "login", login_path %>
       <%end%>
  </li>
  </ul>
  </nav>
 <p class="flash">
    <%= flash.notice %>
  </p>
  <div id="container">
    <div id="content">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
